# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment and dependency folders
env/
venv/

# Ignore logs and temp files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

